/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
@font-face {
  font-family: 'helicoptaregular';
  src: url('helicopta-webfont.woff2') format('woff2'), url('helicopta-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'helicoptaregular';
  background: #F4F4F4;
}
body h1 {
  font-family: 'helicoptaregular';
  font-size: 50px;
}
div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
div.container a {
  text-decoration: none;
}
div.container .logo {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0px auto;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #87CCF5;
  background: #87CCF5;
  z-index: 5;
  position: relative;
  top: 25px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: #000;
}
div.container .logo img {
  width: 50px;
  height: 50px;
}
div.container .logo:hover {
  animation: bounce 0.5s linear;
}
div.container h1 {
  margin: 0 auto;
}
div.flex-container {
  background: white;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
div.flex-container nav.menu-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
div.flex-container nav.menu-container ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}
div.flex-container nav.menu-container ul li {
  margin: 0px 100px;
  padding-top: 70px;
  font-weight: normal;
  font-style: normal;
}
div.flex-container nav.menu-container .nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
}
div.flex-container nav.menu-container .nav-links a {
  text-decoration: none;
  width: 100%;
}
div.flex-container nav.menu-container .nav-links a:hover {
  animation: bounce 0.5s linear;
}
div.flex-container nav.menu-container .nav-links a div.menu-item {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0 auto;
  color: white;
}
div.main-content-display {
  height: 100vh;
  width: 100%;
  background: #2D82B5;
  position: absolute;
  z-index: 6;
  top: 0px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}
div.main-content-display .exit {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
}
div.main-content-display .exit1 {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
}
div.main-content-display .exit2 {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
}
div.main-content-display .exit3 {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
}
div.main-content-display section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.main-content-display section img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
div.main-content-display section .work-skills-img {
  border-radius: 0;
  width: 50%;
  height: 200px;
}
div.main-content-display section h2 {
  font-size: 1.5em;
  margin: 50px 0px;
}
div.main-content-display section article p {
  margin: 50px auto;
  padding: 0 150px;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}
.hd {
  right: 1300px;
}
section .progress-container {
  width: 250px;
  height: 20px;
  background: black;
}
section .progress-container div.progress-bar {
  height: 100%;
  background: #F4F4F4;
  animation: slideIn 8s linear;
  font-family: 'Raleway', sans-serif;
}
section .progress-container .pb1 {
  width: 80%;
}
section .progress-container .pb2 {
  width: 90%;
}
section .progress-container .pb3 {
  width: 75%;
}
section .progress-container .pb4 {
  width: 100%;
}
section .progress-container .pb5 {
  width: 80%;
}
section .progress-container .pb6 {
  width: 90%;
}
section ul li {
  font-family: 'Raleway', sans-serif;
  list-style: circle;
  margin: 10px auto;
}
section .contact-form div {
  font-family: 'Raleway', sans-serif;
}
section .contact-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
section .contact-form form div {
  margin: 30px auto;
}
section .contact-form form div input,
section .contact-form form div textarea {
  height: 30px;
  margin: 0 10px;
  width: 300px;
}
section .contact-form form div textarea {
  height: 100px;
}
.color-one {
  background: #2D82B5;
}
.color-two {
  background: #53A7D8;
}
.color-three {
  background: #87CCF5;
}
.color-four {
  background: #BCE6FE;
}
#fa-one {
  font-size: 8em;
  color: #000;
}
#fa-two {
  font-size: 8em;
  color: #000;
}
#fa-three {
  font-size: 8em;
  color: #000;
}
#fa-four {
  font-size: 8em;
  color: #000;
}
#inactive {
  display: none;
}
#inactive-a {
  display: none;
}
.box-shadow {
  -webkit-box-shadow: 10px 10px 5px 0px #dadada;
  -moz-box-shadow: 10px 10px 5px 0px #dadada;
  box-shadow: 10px 10px 5px 0px #dadada;
}
.box-shadow-logo {
  -webkit-box-shadow: 10px 10px 5px 0px #dadada;
  -moz-box-shadow: 10px 10px 5px 0px #dadada;
  box-shadow: 3px 3px 3px 0px #dadada;
}
/* animations */
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slideIn {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
